ol{
    list-style: none;
    text-align: end;
    padding-left: 970px;
    text-decoration: none;
    color: white;
    
    
}
a {
    padding: 10px;
    text-decoration: none;
    color: white;
    
}

.line {
    display: flex;

}
.middle {
    text-align: center;
    font-size: larger;
}
.b {
    font-size: xx-large;
}
input {
    height: 50px;
    width: 800px;
    border-radius: 30px;
}
.section {
    background-image: url(/triangles-1430105_1280.webp);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 6000px;
    
}
body{
    color: white;
}

.down{
    text-align: left;
    list-style: none;
    
}
nav {
    padding-top: 10px;
    margin-left: 250px;
}

nav li {
    display: inline-block;
    padding-top: 10px;
    margin-right: 15px;
    width: 100px;
    height: 25px;
    background-color:black ;
    border-radius: 20px;
    color: white;
    text-align: center;
}
