ol{
    list-style: none;
    text-align: end;
    padding-left: 970px;
    text-decoration: none;
    color: white;
    
    
}
a {
    padding: 10px;
    text-decoration: none;
    color: white;
    
}

.line {
    display: flex;

}
.middle {
    text-align: center;
    font-size: larger;
}
.b {
    font-size: xx-large;
}
input {
    height: 50px;
    width: 800px;
    border-radius: 30px;
}
.section {
    background-image: url(/triangles-1430105_1280.webp);
    background-repeat: no-repeat;
    height: 350px;
    background-size: 6000px;
    
}
body{
    color: white;
}

.down{
    text-align: left;
    list-style: none;
    font-size: small;
    
}



.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-left: 350px;
}

.tag-cloud {
    text-decoration: none;
    align-items: center;
    list-style: none;
    margin: 0%;
    padding-top: 20px;
    
}
